body {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
h1, p {
  text-align: center;
}
#loading {
  padding: 3em;
  padding-left: 9em;
  padding-right: 9em;
}
a {
  color: slateblue;
  text-decoration: inherit;
}
a:visited {
  color: darkblue;
}
a:hover {
  color: darkslategrey
}
table {
  margin-bottom: 2em;
  margin-left: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}
table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}
label{
  margin-left: 5px;
  margin-right: 10px;
}
input[type=number] {
  width: 190px;
}
input[type=checkbox] {
  margin-left: 5px;
}
input.small {
  width: 50px;
}
select {
  margin: 5px;
  padding: 3px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

.input-hidden {
  display: none;
}
.container {
  margin: auto;
  width: 60%
}
.grid-child {
  vertical-align: baseline;
  height: 2.5em;
}
.grid-child.left {
  text-align: right;
}
.grid-child.center {
  text-align: center;
}
.grid-child.border {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  padding: 5px;
}
.name {
  width: 100px;
}
.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  display: inline-block;
  line-height: 18px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}
.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.button:focus {
  outline: 1px transparent;
}
.button:before {
  display: none;
}
.button:-webkit-details-marker {
  display: none;
}
.footer {
  color: rgb(94, 94, 94);
  width: 100%;
  margin-top: 4em;
  text-align: center;
  font-size: 12px;
}

/* Tooltip Buttons */
.infobutton {
  width: 20px;
  height: 20px;
  vertical-align: center;
}
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
}
.tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0,0,0,.8); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 20px;
    left: 20px;
  width: 0;
}
.tooltip:before {
  background: rgba(0,0,0,.8);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 26px;
}
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
  transition-delay: 1s;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* Distribution Page */
.dist-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    margin: auto;
    width: 90%;
}
.dist-grid-child {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  padding: 5px;
}
.dist-controls {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: auto;
  padding: 5px;
}

/* index page */
.grid-container.menu {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 5px;
}

/* Student T page */
.container.student {
  margin: auto;
  width: 450px
}
.footer.student {
  width: 450px;
  margin: auto;
}
.grid-container.student {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 10px;
}

/* units page */
.grid-container.units {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  gap: 10px;
}
.largenumber {
  font-size: larger;
  font-weight: bold;
}
#error {
  text-align: center;
  color: #A00;
}

/* Uncertainty page */
.suncal-input-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: auto;
  width: 90%;
}
.container.uncert {
  margin: auto;
  width: 90%;
}
#model {
  margin-top: 10px;
  margin-left: 20px;
  width: 75%;
}
#model-preview {
  margin: 20px;
}
.varselect {
  margin-bottom: 10px;
}
#variable-select {
  margin-right: 15px;
}
.varname, .uncertname {
  margin-right: 10px;
}
.variable-input {
  margin: 10px;
  padding: 10px;
}
.value-input {
  width: 150px;
}
.uncert-grid {
  display: grid;
  grid-template-columns: 200px 170px 20px;
  gap: 10px 0px;
  margin: auto;
  margin-top: 15px;
  width: 90%;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
}
.uncert-grid-child {
  padding: 10px;
}
.uncert-grid-help {
  padding-top: 12px;
}
.output-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 10px 0px;
  margin: auto;
  margin-top: 15px;
  width: 90%;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
}
#uncert-controls {
  margin: 20px;
}
#output-units-value {
  width: 150px;
}