# =====================================================================
# Coding standards for PSLUncertaintyCalc
#
# Generally, PEP8 is followed, with the following exceptions. This
# flake config file will ignore some of them.
#
# - Maximum line length = 240
#
# - Operators should be aligned when in long lists:
#    ABC  = 1
#    D    = 2
#    EFGH = 3
#
# - Multiple statements on one line are ok, if used for returning or
#   continuing a loop. This is ok:
#     if x is None: return
#   but not this:
#     if x is None: x = 0
#
# =====================================================================

[flake8]
max-line-length = 240
ignore = E265,E241,E242,E226,E123,E133,E261,E221,E701

